@using fiorello_project.ViewModels.Blog
@model BlogDetailsViewModel
<div class="mkdf-content">
				<div class="mkdf-content-inner">
					<div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-header-bottom mkdf-title-content-va-middle"
						style="height: 225px;background-color: #fafaf9" data-height="225">
						<div class="mkdf-title-wrapper" style="height: 225px">
							<div class="mkdf-title-inner">
								<div class="mkdf-grid">
									<h1 class="mkdf-page-title entry-title">Fiorello</h1>
									<span class="mkdf-page-subtitle">Where flowers are our inspiration</span>
								</div>
							</div>
						</div>
					</div>
					<div class="mkdf-container">
						<div class="mkdf-container-inner clearfix">
							<div class="mkdf-grid-row mkdf-content-has-sidebar mkdf-grid-huge-gutter">
								<div class="mkdf-page-content-holder mkdf-grid-col-12">
									<div class="mkdf-blog-holder mkdf-blog-single mkdf-blog-single-standard">
										<article id="post-814"
											class="post-814 post type-post status-publish format-standard has-post-thumbnail hentry category-greens tag-bouquets tag-rose">
											<div class="mkdf-post-content">
												<div class="mkdf-post-heading">
													<div class="mkdf-post-image">
														<img width="1300" height="830"
															src="~/assets//img/@Model.PhotoName"
															class="attachment-full size-full wp-post-image" alt="aa"
															srcset="~/assets//img/@Model.PhotoName 1300w, ~/assets//img/@Model.PhotoName 300w, ~/assets//img/@Model.PhotoName 768w, ~/assets//img/@Model.PhotoName 1024w, ~/assets//img/@Model.PhotoName 800w, ~/assets//img/@Model.PhotoName 225w, ~/assets//img/@Model.PhotoName 75w"
															sizes="(max-width: 1300px) 100vw, 1300px" loading="eager" />
													</div>
												</div>
												<div class="mkdf-post-text">
													<div class="mkdf-post-text-inner">
														<div class="mkdf-post-text-main">
															<h3 itemprop="name" class="entry-title mkdf-post-title">
																@Model.Title </h3>
															<section class="wpb-content-wrapper">
																<div class="vc_row wpb_row vc_row-fluid">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="wpb_text_column wpb_content_element ">
																					<div class="wpb_wrapper">
																						<p>@Html.Raw(Model.Description)</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div
																	class="vc_row wpb_row vc_row-fluid vc_custom_1525439973712">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="wpb_text_column wpb_content_element ">
																					<div class="wpb_wrapper">
																						<blockquote>
																							<p>
																								@Html.Raw(Model.Description)
																							</p>
																						</blockquote>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="vc_row wpb_row vc_row-fluid">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="wpb_text_column wpb_content_element ">
																					<div class="wpb_wrapper">
																						<p>@Html.Raw(Model.Description)</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div
																	class="vc_row wpb_row vc_row-fluid vc_custom_1525088910696 vc_column-gap-10">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="mkdf-image-gallery  mkdf-ig-masonry-fixed-type mkdf-tiny-space   mkdf-image-hover-shader mkdf-ig-masonry-type">
																					<div
																						class="mkdf-ig-inner mkdf-outer-space mkdf-ig-masonry mkdf-ig-three-columns">
																						<div class="mkdf-ig-grid-sizer">
																						</div>
																						<div
																							class="mkdf-ig-grid-gutter">
																						</div>

																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div
																	class="vc_row wpb_row vc_row-fluid vc_custom_1525091554450 mkdf-content-aligment-center">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div
																			class="vc_column-inner vc_custom_1525091424828">
																			<div class="wpb_wrapper">
																				<div
																					class="wpb_text_column wpb_content_element ">
																					<div class="wpb_wrapper">
																						<p><em>&#8220;Be Awesome
																								today!&#8221;</em></p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div
																	class="vc_row wpb_row vc_row-fluid vc_custom_1525091759706">
																	<div
																		class="wpb_column vc_column_container vc_col-sm-12">
																		<div class="vc_column-inner">
																			<div class="wpb_wrapper">
																				<div
																					class="wpb_text_column wpb_content_element ">
																					<div class="wpb_wrapper">
																						<p>@Html.Raw(Model.Description)</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</section>
														</div>
													</div>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mkdf-content-bottom">
						<div class="mkdf-content-bottom-inner mkdf-full-width">
							<div class="widget widget_mkdf_instagram_widget"></div>
						</div>
					</div>
				</div>
			</div>