@using fiorello_project.Areas.Admin.ViewModels.Product
@model ProductIndexViewModel
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Product</h4>
                        <a class="btn btn-primary" asp-action="create" asp-controller="product" asp-area="admin">CREATE PRODUCT</a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Photo</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model.Products)
                                    {
                                        <tr>
                                            <td>@product.Id</td>
                                            <td>@product.Title</td>
                                            <td><img src="~/assets/img/@product.MainPhotoName" /></td>
                                            <td>
                                                <a class="btn btn-primary" asp-action="update" asp-controller="product" asp-area="admin" asp-route-id="@product.Id">Update</a>
                                                 <a class="btn btn-danger" onclick="confirm('Eminsinizmi?')" asp-action="delete" asp-controller="product" asp-area="admin" asp-route-id="@product.Id">Delete</a>
                                                 <a class="btn btn-info" asp-action="details" asp-controller="product" asp-area="admin" asp-route-id="@product.Id">Details</a>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>