@using fiorello_project.ViewModels.Product
@model ProductDetailsViewModel

@section styles{
    <style id='fiorello-mikado-woo-inline-css' type='text/css'>
        .postid-226.mkdf-boxed .mkdf-wrapper {
            background-attachment: fixed;
        }

        .postid-251 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner,
        .postid-251 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
            padding: 61px 0 40px 0;
        }

        .postid-251 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner,
        .postid-251 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
            padding: 61px 0 40px 0;
        }
    </style>
}

    <div class="mkdf-content">
        <div class="mkdf-content-inner">
            <div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-header-bottom mkdf-title-content-va-middle" style="height: 225px;background-color: #fafaf9" data-height="225">
                <div class="mkdf-title-wrapper" style="height: 225px">
                    <div class="mkdf-title-inner">
                        <div class="mkdf-grid">
                            <h1 class="mkdf-page-title entry-title">Product List</h1>
                            <span class="mkdf-page-subtitle">Where flowers are our inspiration</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mkdf-container">
                <div class="mkdf-container-inner clearfix">
                    <div class="woocommerce-notices-wrapper"></div>
                    <div id="product-251" class="product type-product post-251 status-publish first instock product_cat-exotic product_cat-various product_tag-llilies product_tag-orchids has-post-thumbnail shipping-taxable purchasable product-type-simple">
                        <div class="mkdf-single-product-content">
                            <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 1; transition: opacity 0.25s ease-in-out 0s;">
                                <figure class="woocommerce-product-gallery__wrapper">
                                    <div data-thumb="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-2-img-100x100.jpg" data-thumb-alt="c" class="woocommerce-product-gallery__image">
                                        <a href="~/assets/img/@Model.MainPhoto" data-rel="prettyPhoto[woo_single_pretty_photo]"><img width="620" height="800" src="~/assets/img/@Model.MainPhoto" class="wp-post-image" alt="c" title="shop-2-img" data-caption="" data-src="~/assets/img/@Model.MainPhoto" data-large_image="~/assets/img/@Model.MainPhoto" data-large_image_width="620" data-large_image_height="800" srcset="~/assets/img/@Model.MainPhoto" sizes="(max-width: 620px) 100vw, 620px" loading="eager"></a>
                                    </div>

                                    @foreach (var photo in Model.Photos)
                                {
                                    <div data-thumb="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-2-gallery-4-300x400.jpg" class="woocommerce-product-gallery__image"><a href="~/assets/img/@photo.Name" data-rel="prettyPhoto[woo_single_pretty_photo]"><img width="300" height="400" src="~/assets/img/@photo.Name" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="c" title="shop-2-gallery-4" data-caption="" data-src="~/assets/img/@photo.Name" data-large_image="~/assets/img/@photo.Name" data-large_image_width="465" data-large_image_height="600" loading="eager"></a></div>

                                }

                            </figure>
                        </div>
                        <div class="mkdf-single-product-summary">
                            <div class="summary entry-summary">
                                <h2 itemprop="name" class="mkdf-single-product-title">@Model.Title</h2>
                                <p class="price">
                                    <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>@Model.Price</bdi></span>
                                </p>
                                <div class="woocommerce-product-details__short-description">
                                    @Html.Raw(Model.Description)
                                </div>
                                <form class="cart" action="https://fiorello.qodeinteractive.com/product/orange-amaryllis/" method="post" enctype="multipart/form-data">
                                    <div class="mkdf-quantity-buttons quantity">
                                        <label class="screen-reader-text" for="quantity_635cd8fc53619">Orange Amaryllis quantity</label>
                                        <span class="mkdf-quantity-label" for="quantity_635cd8fc53619">Quantity</span>
                                        <span class="mkdf-quantity-minus arrow_triangle-left"></span>
                                        <input type="text" id="quantity_635cd8fc53619" class="input-text qty text mkdf-quantity-input" data-step="1" data-min="1" data-max="" name="quantity" value="@Model.Quantity" title="Qty" size="4" placeholder="" inputmode="numeric">
                                        <span class="mkdf-quantity-plus arrow_triangle-right"></span>
                                    </div>
                                    <button type="submit" name="add-to-cart" value="251" class="single_add_to_cart_button button alt">Add to cart</button>
                                </form>
                                <div class="product_meta">
                                    <span class="posted_in">
                                        Category: <a href="../../product-category/exotic/index.html" rel="tag">@Model.Category.Title</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="woocommerce-tabs wc-tabs-wrapper">
                        <ul class="tabs wc-tabs" role="tablist">
                            <li class="description_tab active" id="tab-title-description" role="tab" aria-controls="tab-description">
                                <a href="#tab-description">
                                    Description
                                </a>
                            </li>
                            <li class="additional_information_tab" id="tab-title-additional_information" role="tab" aria-controls="tab-additional_information">
                                <a href="#tab-additional_information">
                                    Additional information
                                </a>
                            </li>
                        </ul>
                        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description" style="">
                            <h2>Description</h2>
                            <section class="wpb-content-wrapper">
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="mkdf-section-title-holder   mkdf-st-subtitle-pos-under">
                                                    <div class="mkdf-st-inner">
                                                        @Html.Raw(Model.Description)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information" role="tabpanel" aria-labelledby="tab-title-additional_information" style="display: none;">
                            <h2>Additional information</h2>
                            <table class="woocommerce-product-attributes shop_attributes">
                                <tbody>
                                    <tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--weight">
                                        <th class="woocommerce-product-attributes-item__label">Weight</th>
                                        <td class="woocommerce-product-attributes-item__value">@Model.Weight</td>
                                    </tr>
                                    <tr class="woocommerce-product-attributes-item woocommerce-product-attributes-item--dimensions">
                                        <th class="woocommerce-product-attributes-item__label">Dimensions</th>
                                        <td class="woocommerce-product-attributes-item__value">
                                            @Model.Dimenesion
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mkdf-content-bottom">
            <div class="mkdf-content-bottom-inner mkdf-full-width">
                <div class="widget widget_mkdf_instagram_widget"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/assets/js/product-details.js"></script>
}